.viewCollectibles {
  display: flex;
  background-color: #101123;
  overflow: hidden;
}

.mainTitle {
  margin-left: 6% !important;
}
.mainDescription {
  margin-left: 6% !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.titleNft {
  font-family: "Aileron Reguler";
  font-size: 26px !important;
  font-weight: 900;
  white-space: nowrap;
  font-stretch: normal;
  color: #fff;
  line-height: 120%;
  margin-top: 25px;
  margin-bottom: 20px;
  /* margin-left: 17%; */
  /*text-align: left!important;*/
}
.mainTitle {
  font-family: "Aileron Reguler";
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  color: #fff;
  line-height: 120%;
  margin-bottom: 45px;
}
.description {
  font-family: "Aileron Reguler";
  font-size: 20px;
  margin-bottom: 0;
  color: #fff;
  line-height: 120%;
  margin-bottom: 30px;
  text-align: left;
  margin-right: 19%;
  margin-left: 25%;
}
.typeNft {
  background: #495057;
  border-radius: 36px;
  width: 55%;
  line-height: 120%;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 17%;
  padding: 6px;
  font-size: 22px;
}
.borderRadius {
  border-radius: 6%;
}

@media screen and (max-width: 768px) {
  .mainTitle{
    text-align: center;
    margin-left: 0 !important;
  }
}