.tabs{
  margin:0 auto;
  text-align:left;
  color:#545454 !important;
  overflow: hidden;
}

img{
  width:300px;
}

.tab-buttons{
  margin-bottom:25px;
}

button{
  font-size:20px;
  background:transparent;
  border:none;
  outline:none;
  padding:10px 20px ;
  cursor:pointer;
  color: #545454;
  transition:all ease-in-out .2s;
  border-bottom:2px solid transparent;
  width:50%
}
.activeClass{
  border-bottom:2px solid #4d96f6;
 color:#4d96f6;
 /* width:50% */
}

.rightSide{
max-height: 100vh
}
.borderRight2{
  border-right: 1px dotted #fff;
    margin:80px 0px
}
.Are-you-a-creator-or {
 font-size: 16px;
    letter-spacing: 0.5px;
}
.CreatorClass{
  width:50%;
  margin:0% !important
}
.form-control::placeholder{
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.5px;
  color: #a0a0a0;
}
.btnsText{
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;

}