.PAID-BY-USD {
    width: 1002.7px;
    height: 24px;
    margin: 34px 60.4px 13px 50.6px;
    font-family: Aileron;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5.44;
    letter-spacing: 1px;
    color: #5c973c;
}

.PAID-BY-CRYPTO {
    width: 1002.7px;
    height: 24px;
    margin: 34px 60.4px 13px 50.6px;
    font-family: Aileron;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 5.44;
    letter-spacing: 1px;
    color: #3e4ef1;
}
