.marketplaceContainer {
  background-color: #e9e9e9;
  color: black;
}
.logo {
  width: 186px;
  height: 36.8px;
  object-fit: contain;
}
.card-block {
  margin-left: 20px;
}

.card-img-top {
  width: 100%;
  height: 260px;
  border-radius: 0%;
  object-fit: cover;
}
.paginate {
  text-align: center;
}
ul li {
  display: inline-block;
}
.pagination {
  display: block;
  z-index: 0;
  position: relative;
}

.borderNone {
  border: none;
}
.react-thumbnail-generator img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.marketplaceContainer .card {
  height: 100%;
}

.marketplaceContainer .card-flyer .image-box img {
  transition: all 0.9s ease;
  width: 100%;
  height: 200px;
  border-radius: 0%;
}
.marketplaceContainer .card-flyer .image-box video {
  transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}

.marketplaceContainer .card-flyer .text-box {
  text-align: center;
}
.marketplaceContainer .text-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.marketplaceContainer .card-flyer {
  background: #ffffff;
  /* margin-top: 50px; */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40); */
}
/* .marketplaceContainer .card-block{
} */
.bottomright {
  position: absolute;
  top: 130px;
  right: 0px;
  font-size: 27px;
  z-index: 0;
}
.verifiedIcon {
  content: url('../../../assets/images/verifiedIcon.png');
  width: 120px !important;
  height: 120px !important;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid #1d1d1d;
  background: #1d1d1d;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 50%;
}

.mymodal input[type='text'] {
  background-color: black;
  color: #ffffff;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.marketplaceContainer .pagination {
  margin-bottom: 25px;
}
.marketplaceContainer .active {
  color: #3e4ef1 !important;
}
.shareClass {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}
.Digital-Art {
  height: 16px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 0.32px;
  color: #1c1c1c;
  text-transform: capitalize;
}
.createdDate {
  height: 28px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #545454;
  margin: 19px 132px 7px 18px;
}
.toogleClass {
  margin-right: 20px;
}
.nav-link {
  padding: 0.5rem 0;
}
.secondHeader {
  height: 50px;
  background-color: #f4f3f4;
  margin: 0px;
}
.subHeading {
  height: 16px;
  margin: 10px 21px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1px;
  color: #1c1c1c;
  opacity: 1;
}
.subHeadingButton {
  height: 50px;
  border-radius: 0%;
  width: 100%;
}
.Line-Copy-6 {
  /* width: 2px; */
  height: 50px;
  /* margin: 0 21px 0 46px; */
  border: solid 0.5px #e9e9e9;
}

.listSaleBtn {
  display: none;
}

.listCard:hover .listSaleBtn {
  display: block;
  width: 100%;
  height: 50px;
  margin: 16px 0 0;
  padding: 8px 17px 18px 18px;
  border-radius: 1px;
  background-color: #3e4ef1;
  color: white;
}

@media screen and (max-width: 890px) {
  .secondHeader {
    height: auto;
    background-color: #f4f3f4;
    margin: 0px;
  }
  .collapse:not(.show) {
    display: block !important;
  }
}
@media screen and (max-width: 666px) {
  .navbar-nav {
    flex-direction: column !important;
  }
  .collapse:not(.show) {
    display: block;
  }

  .secondHeader {
    height: auto;
    background-color: #f4f3f4;
    margin: 0px;
  }
  .Line-Copy-6 {
    height: 0px;
  }
}
.blue {
  color: blue;
}
.green {
  color: green;
}
a {
  cursor: pointer;
}
.gray {
  color: gray;
}
.cardHover {
  /* width: 300px; */
  height: 80px;
  /* padding: 0 1px 19px; */
  background-color: #f4f7f6;
  box-shadow: 2px 2px 5px 1px rgba(63, 63, 63, 0.29);
  border-radius: 0% !important;
}
.cardHover:hover {
  border: solid 2px #4d96f6;
}
.nav-item .active {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1px;
  color: #1c1c1c !important;
}
.trapezoid {
  color: white;
  border-right: 25px solid transparent;
  height: 19px;
  padding: 0px 10px;
  position: absolute;
  top: 176px;

  /* width: 130px;
  padding: 2px 27px 7px 24px; */
  object-fit: contain;
}
.categoryClass {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
i {
  cursor: pointer;
}
#demo-2 input[type='search'] {
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  padding-top: 10px;
}
#demo-2 input[type='search']:hover {
  background-color: #fff;
}
#demo-2 input[type='search']:focus {
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding: 10px 0px 10px 32px;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}
input[type='search'] {
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
    no-repeat 9px center;
}
.Transferred {
  height: 17px;
  margin: 24px 0px 3px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  text-align: right;
  color: #545454;
}
.Transfer {
  height: 17px;
  margin: 24px 0px 3px 8px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  text-align: right;
  color: #6693f3;
}
.heading {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
  margin: 0;
  font-size: 18px;
}
.Digital-Art {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}
.activateerror {
  margin: 10% 20%;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
}

.modal {
  width: 500px;
  position: relative;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}

.modal button {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
  opacity: 1;
}

.home__search-ctn input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: solid 1px #dedede;
  background-color: #fff !important;
  padding: 2px;
  padding-left: 35px;
  background-size: 15px !important;
  background-position-y: 7.5px !important;
}

.home__search-ctn input:focus-visible {
  border: none;
  outline: none;
}

.home__search-ctn button {
  border-radius: 3px;
  padding: 4px 10px !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 0.86px;
  text-align: center;
  color: #fff;
  background-color: #3e4ef1;
  transform: translateX(-5px);
  max-width: 130px;
}

.card__nft {
  margin-bottom: 24px;
  height: 100%;
  overflow: hidden;
  max-height: 361.5px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
@media screen and (max-width: 769px) {
  .card__nft {
    max-height: none;
  }
  .card__nft button {
    opacity: 1;
  }
}

.card__nft:hover .card__nft-wrp {
  transform: translateY(-50px);
}


.card__nft:hover .card__nft-wrp-with {
  transform: translateY(-60px);
}
.paginationBttns {
  margin: 25px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.paginationBttns a {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #3e4ef1;
  color: #3e4ef1;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #3e4ef1;
}

.paginationActive a {
  color: white;
  background-color: #3e4ef1;
}

.paginationDisabled a {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: #3e4ef1;
  color: #fff;
}
.dropdown-item input[type='checkbox'] {
  cursor: pointer;
}

.dropdown-menu.show {
  /* width: 100%; */
  padding: 0;
}
/* iframe {
  display: none !important;
} */
.type {
  min-width: 280px
}
.dropdown__checkbox-ctn {
  padding: 5px 15px 5px 11px;

}
.dropdown__checkbox-ctn input {
  transform: translateY(1.5px);
  cursor: pointer;
}
.dropdown__checkbox-ctn:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.marketplace__homepage .card {
  background-color: #f4f7f6;
}

@media (max-width: 800px) {
  .home__search-ctn {
    width: 100%;
    margin-bottom: 5px;
  }
  .home__search-ctn input {
    flex-basis: 80%;
  }
}
/* temp */
@media (max-width: 800px) {
  .formWrapper {
    width: auto !important;
  }
  footer .contentWrapper {
    flex-direction: column !important;
  }
  .home__search-ctn {
    max-width: 300px;
  }
}

.react-confirm-alert-button-group button {
  background-color: #3e4ef1;
  font-weight: 600;
}
.react-confirm-alert-body h1 {
  font-size: 25px;
  color: #000;
  margin-bottom: 15px;
}

.card__nft-title-wrp {
  height: 62px;
}

.card__nft-tag--sold {
  position: absolute;
  right: 24px;
  background: #f2153b;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  top: -10px;
  transform: rotate(-5deg);
}

/* rows */
.traits {
  height: 300px;
  overflow-y: scroll;
}
